@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding-left: 0px;
}

.article{
    margin-left: 100px;
}

#logo{
    height: 47px;
    padding-left: 80px;
    padding-top: 20px;
}

h1{
    font-family: 'Scheherazade New', serif;
    font-size: 41px;
    margin-bottom: -20px;
}

hr{
    width: 900px;
}

#org{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 20px;
    font-weight: 400;
}

.vqdz{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#twitter1{
    color: #dd4b39;
    font-weight: 400;
}

#twitter2{
    color: #1a0dab;
    font-weight: 700;
}

.goog1{
    color: #1a0dab;
    font-weight: 400;
}

.sobc{
    display: inline-block;
    color: black;
    font-weight: 400;
    margin-top: 4px;
    margin-bottom: 12px;
}

#antro1{
    color: #dd4b39;
    font-weight: 400;
}

#antro2{
    color: #1a0dab;
    font-weight: 700;
    display: inline-block;
}

.cit{
    font-weight: 400;
}

#ceucraft{
    text-decoration: none;
    color: #1a0dab;
}

#ceucraft:hover{
    color: blueviolet;
}

h2{
    font-family: 'Scheherazade New', serif;
    font-size: 35px;
    margin-bottom: -12px;
}
p{
    font-family: 'Roboto', sans-serif;
    margin-top: 14px; 
    margin-bottom: 14px;
}

figcaption{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
}

#nerd{
    width: 400px;
    margin-bottom: 2px;
}

.print{
    width: 550px;
}

.builds{
    width: 600px;
}

footer{
    text-align: center;
    padding: 20px;
    padding-inline-end: 20px;
    background-color: #c2c2c2;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}